# compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.*
.env.development.local
.env.test.local
.env.production.local
.env.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
/src/app.controller.js
/src/app.module.js
/src/app.service.js
/src/auth/auth.controller.js
/src/auth/entities/auth.entity.js
/src/auth/auth.module.js
/src/auth/auth.service.js
/src/auth/dto/create-auth.dto.js
/src/users/dto/create-user.dto.js
/src/entities/event.entity.js
/src/entities/event-participant.entity.js
/src/event-participants/event-participants.controller.js
/src/event-participants/event-participants.module.js
/src/event-participants/event-participants.service.js
/src/events/events.controller.js
/src/events/events.module.js
/src/events/events.service.js
/src/auth/jwt/jwt.guard.js
/src/main.js
/src/entities/place.entity.js
/src/places/places.controller.js
/src/places/places.module.js
/src/places/places.service.js
/src/prisma/prisma.service.js
/prisma/seed.js
/src/entities/travel-plan.entity.js
/src/travel-plans/travel-plans.controller.js
/src/travel-plans/travel-plans.module.js
/src/travel-plans/travel-plans.service.js
/src/auth/dto/update-auth.dto.js
/src/users/dto/update-user.dto.js
/src/entities/user.entity.js
/src/users/users.controller.js
/src/users/users.module.js
/src/users/users.service.js
